<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav clearfix" id="side-menu">
            <li class="treeview" ui-sref-active="active">
                <a href="#">
                    <i class="fa fa-th"></i>
                    <span>{{'SIDEBAR.MY_DASHBOARD'|translate}}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li ui-sref-active="active" ng-repeat="b in boardList | filter:{userId:user.userId}:true">
                        <a ui-sref="mine.view({id:b.id})" class="menuItem">{{b.name}}</a>
                    </li>
                </ul>
            </li>
            <!-- DashBoard -->
            <li ui-sref-active="active">
                <a href="#">
                    <i class="fa fa-th"></i>
                    <span>{{'SIDEBAR.C_DASHBOARD'|translate}}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li ui-sref-active="active" ng-repeat="c in categoryList | hasBoards : boardList">
                        <a>
                            <i class="fa fa-folder"></i>
                            {{c.name}}
                            <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                        </a>
                        <ul class="treeview-menu">
                            <li ui-sref-active="active" ng-repeat="b in boardList | filter:{categoryId:c.id}:true">
                                <a ui-sref="dashboard.category.view({id:b.id,category:c.name})">{{b.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- Config -->
            <li ui-sref-active="active" ng-if="isShowMenu('config')">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    <span>{{'SIDEBAR.CONFIG'|translate}}</span>
                    <span class="fa arrow"></span>
                </span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li ui-sref-active="active" ng-if="isShowMenu('config.datasource')">
                        <a ui-sref="config.datasource" class="menuItem">{{'SIDEBAR.DATA_SOURCE'|translate}}</a>
                    </li>
                    <li ui-sref-active="active" ng-if="isShowMenu('config.dataset')">
                        <a ui-sref="config.dataset" class="menuItem">{{'SIDEBAR.DATASET'|translate}}</a>
                    </li>
                    <li ui-sref-active="active" ng-if="isShowMenu('config.widget')">
                        <a ui-sref="config.widget" class="menuItem">{{'SIDEBAR.WIDGET'|translate}}</a>
                    </li>
                    <li ui-sref-active="active" ng-if="isShowMenu('config.board')">
                        <a ui-sref="config.board" class="menuItem">{{'SIDEBAR.DASHBOARD'|translate}}</a>
                    </li>
                    <li ui-sref-active="active" ng-if="isShowMenu('config.category')">
                        <a ui-sref="config.category" class="menuItem">{{'SIDEBAR.DASHBOARD_CATEGORY'|translate}}</a>
                    </li>
                    <li ui-sref-active="active" ng-if="isShowMenu('config.job')">
                        <a ui-sref="config.job" class="menuItem">{{'SIDEBAR.JOB'|translate}}</a>
                    </li>
                    <li ui-sref-active="active" ng-if="isShowMenu('config.role')">
                        <a ui-sref="config.role" class="menuItem">{{'SIDEBAR.SHARE_RESOURCE'|translate}}</a>
                    </li>
                </ul>
            </li>
            <!-- Admin -->
            <li ui-sref-active="active" ng-if="isShowMenu('admin')">
                <a href="#">
                    <i class="fa fa-bars"></i>
                    <span>{{'SIDEBAR.ADMIN'|translate}}</span>
                    <span class="fa arrow">
                </span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li ui-sref-active="active" ng-if="isShowMenu('admin.user')">
                        <a ui-sref="admin.user" class="menuItem">{{'SIDEBAR.USER_ADMIN'|translate}}</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
