<div dnd-list="curWidget.config.searches"
     dnd-inserted="dndTransfer.toKeysGroups(curWidget.config.searches,index,item,type);onDragCancle();"
     dnd-allowed-types="['dimension','select','group','key','filter','searchGroup']"
     class="form-control" style="min-height: 35px;height: auto;padding: 0px"
     ng-class="{highlight: targetHighlight.search}">
    <div class="dndPlaceholder sort-highlight"
         style="height: 24px; width: 93px;margin: 3px 3px;display: inline-block;vertical-align: middle;">
    </div>
    <div ng-repeat="o in curWidget.config.searches" dnd-draggable="o" dnd-effect-allowed="move"
         dnd-moved="curWidget.config.searches.splice($index, 1)" dnd-type="o.group?'searchGroup':'filter'"
         dnd-dragstart="onDragstart(o.group?'searchGroup':'dimension')" dnd-dragend="onDragCancle()"
         class="btn-group" style="cursor: move;margin: 3px 3px;">
        <div ng-if="o.group" class="form-inline">
            <label class="radio-inline" ng-if="o.type == 'radio'">
                <input type="radio" name="{{o.searches[0].col}}" value="{{o.searches[0].values[0]}}">
                <span style="cursor: move;" ng-click="curWidget.config.searches.splice($index, 1);">{{o.group}}</span>
                <span ng-if="!isDsFilter(o)" ng-click="editSearchGroup(o)" class="fa fa-edit"></span>
            </label>

            <label class="checkbox-inline" ng-if="o.type == 'checkbox'">
                <input type="checkbox" name="{{o.searches[0].col}}" value="{{o.searches[0].values[0]}}">
                <span style="cursor: move;" ng-click="curWidget.config.searches.splice($index, 1);">{{o.group}}</span>
                <span ng-if="!isDsFilter(o)" ng-click="editSearchGroup(o)" class="fa fa-edit"></span>
            </label>

            <label class="checkbox-inline" ng-if="o.type == 'text'">
                <input type='text' class="form-control" name={{o.searches[0].col}}' value="{{o.searches[0].values[0]}}">
                <span style="cursor: move;" ng-click="curWidget.config.searches.splice($index, 1);">{{o.group}}</span>
                <span ng-if="!isDsFilter(o)" ng-click="editSearchGroup(o)" class="fa fa-edit"></span>
            </label>
            <button type="button" ng-if="o.type == 'text' && $index == 0" class="btn btn-success btn-sm">提交</button>

        </div>

        <!--<div ng-if="!o.group" class="btn-group">
            <button type="button" class="btn btn-default btn-sm" style="cursor: move;"
                    ng-click="curWidget.config.selects.push(o.col);curWidget.config.searches.splice($index, 1);">
                {{o.alias?o.alias:o.col}}
            </button>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                    ng-click="editFilter(curWidget.config.searches,$index)">
                <span class="fa fa-filter"></span>
            </button>
        </div>-->
    </div>
</div>